
.header, nav, .side, .main, .footer {
	border: 1px solid white;
}
.grid {
    display: grid;
    grid: 15% 8% auto 10% /repeat(12, 1fr);
    grid-template-areas:
	   "h h h h h h h h h h h h"
       "n n n n n n n n n n n n"
       "s s s s m m m m m m m m"
       "f f f f f f f f f f f f";
	grid-gap: 2px;
    min-height: 100vh;
    max-width: 1200px;
}
.header {
    grid-area: h;
}
.nav {
    grid-area: n;
}
.side {
    grid-area: s;
}
.main {
    grid-area: m;
}
.footer {
    grid-area: f;
}
