// Colors
$gold:#ffcc99;
$gray:#d3d3d3;
$silver:#C0C0C0;
$white:#ffffff;
$black:#000000;
$green:#32CC32;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;
$lime: #C7E146;

//responsive breakpoints
$breakpoint-small: 767px;
$breakpoint-medium: 1024px;
$braekpoint-large: 1440px;

//alignment
$text-align: center;
$margin-top: 2%;
$padding-top: 2%;

//font family
$font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//size
$h1-line-h: 80px;
$h1-font-sz: 2em;
$menu-font-sz: 1.1em;
$menu-w: 24%;
$menu-h: 100px;
//margin
$no-margin: 0px;
//image size
$img-w : 640px;
$img-h : 480px;
//color
$bk-color : #95DEE3;
$h1-color: #fff;
$h1-bcolor: #660066;
//menu
$menu-item-color: $blue;
$menu-price-color: $robins;
$menu-color: $purple;
$menu-bcolor: $gold;
//bubble color
$b1-color: $white;
$b2-color: $red;
$b3-color: $orange;
$b4-color: $yellow;
$b5-color: $green;
$b6-color: $lime;
$b7-color: $blue;
$b8-color: $purple;

