.card {
	@include border-radius($radius);
	/*border-radius: 4%;*/
	margin-top: $card-margin-top;
	margin-left: 5%;
	height: 45%;
	width: 50%;
	background-color: $gray;
}
.desc {
	width: 60%;
	float: right;
	margin-top: $card-margin-top;
	background-color: $gray;
	a { 
		color: $text-color;
		text-decoration: none; 
	} 
	a:hover {
		background-color: $hover-color;
	}
}

.bold {
	font-weight: $font-weight;
}

ul {
	list-style-type: $list-style-type;
	padding-left: 0;
}
li {
	margin-top: $card-li-margin;
	img {
		width: $li-img-size;
		height: auto;
	}
}
