// Import partials here @import 'base.normalize'; @import 'settings.responsive';
//@import 'components.content';
@import 'settings.variables';

// this has to come before -leftCard and _rightCard
@mixin border-radius($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	-ms-border-radius: $r;
	border-radius: $r;
}

//styling the left hand side of the card
@import 'leftCard';

//styling the right hand side of the card
@import 'rightCard';

// For Mobile
@import 'media';
