
html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

//.main {    padding: 2rem;}

h1 {
    color: $red;  
}

// card border
.mkcard {
	margin-top: 100px;
	margin-left: 100px;
    border: 20px solid $gray;
    width: 540px;
    height: auto;
    background: $white;
}

// card container
.card {
    border: 10px solid $white;
    width: 500px;
    height: auto;
    background: $white;
}

.bold {
    color: $black;
    font-weight: $font-weight;
}



